@keyframes slideDown{from{max-height:0;}to{max-height:500px;}}
.animate-down{animation:slideDown .9s ease forwards;}
@keyframes reveal{to{width:19ch;}}
@keyframes slideRight{from{transform:translateX(-100%);opacity:0;}to{transform:translateX(0);opacity:1;}}
@keyframes slideLeft{from{transform:translateX(100%);opacity:0;}to{transform:translateX(0);opacity:1;}}
@keyframes slideUp{from{transform:translateY(10%);opacity:0;}to{transform:translateY(0);opacity:1;}}
@keyframes fall{0%{transform:translateY(-10%);opacity:1;}100%{transform:translateY(200%);opacity:0;}}
@keyframes fall{0%{transform:translateY(-10%);opacity:1;}100%{transform:translateY(200%);opacity:0;}}